name: Release build

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64 make

      - name: Build
        run: make all

      - name: zip
        run: zip -r build.zip build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: xinput-dll
          path: build.zip

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: build.zip build/32/xinput1_3.dll
